{% extends "./Base.html" %}
{% block title %}StoryTeller - Home{% endblock title%}
{% block body %}
<div class="main overflow-x-hidden" style="font-family: 'Poppins', sans-serif">
  <div class="main-navbar fixed top-0 left-0 w-full z-[999]">{% include "./components/Navbar.html" %}</div>

  {% if 'category' in request.path %}
  <div class="main-category pt-[77px] md:pt-[90px]">{% include "./Category.html" %}</div>
  {% elif 'post' in request.path %}
  <div class="main-post pt-[77px] md:pt-[90px]">{% include "./Posts.html" %}</div>
  {% else %}
  <div class="main-header pt-[77px] md:pt-[90px]">{% include "./Header.html" %}</div>
  <div class="main-header_posts">{% include "./Header_Posts.html" %}</div>
  {% endif %}

  <div class="main-footer">{% include "./components/Footer.html" %}</div>
</div>
{% endblock body %}