{% extends "./Base.html" %}
{% block title %}Upload Blog{% endblock title%}
{% block body %}
<div class="upload h-full w-full bg-gray-100">
    <div class="main-navbar">{% include "./components/Navbar.html" %}</div>

    <div class="layout p-8">
        <h1 class="text-lg font-bold pb-3 border-b-2 border-black" style="font-family: 'Pacifico', cursive">Create Your
            Own Blog</h1>

        <div class="row grid md:grid-cols-2">
            <div class="col p-9">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" placeholder="Enter Heading"
                        class="p-3 ps-6 border-[1.4px] shadow-sm rounded-xl  w-full mb-3" name="upload_title" required>
                    <textarea placeholder="Enter Description"
                        class="ps-6 w-full h-[200px] border-[1.4px] shadow-sm rounded-xl  mb-3"
                        name="upload_description" required></textarea>
                    <div class="grid grid-cols-2 gap-3">
                        <input type="file" placeholder="Thumbnail"
                            class="p-3 ps-6 border-[1.4px] shadow-sm rounded-xl border-gray-500 w-full mb-3"
                            name="upload_thumbnail" required>
                        <select 
                            class="h-[58px] p-3 ps-6 border-[1.4px] shadow-sm rounded-xl  w-full text-gray-600 font-bold text-sm" name="upload_category"
                            required>
                            {% if categorys %}
                            {% for category in categorys %}
                            <option value="{{category.db_name}}">{{category.db_name}}</option>
                            {% endfor %}
                            {% else %}
                            <option>Empty</option>
                            {% endif %}
                        </select>
                    </div>
                    <button type="submit"
                        class="my-3 px-5 py-3 border-2 border-gray-300 bg-gray-600 text-white rounded-full font-bold">Submit</button>
                </form>
            </div>
            <div class="preview col p-9 h-full w-full">
                <div class="">
                    <div class="col h-[370px] md:mb-5">
                        <div class="thumbnail h-[230px] w-full rounded-xl "
                            style="background-image: url('https://images.pexels.com/photos/19419507/pexels-photo-19419507/free-photo-of-a-laptop-with-a-clock-on-it-sitting-on-a-couch.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');background-repeat: no-repeat;background-position: center;background-size: cover;">
                        </div>
                        <div class="p-3 text-gray-700">
                            <h1 class="text-[13px] font-bold flex flex-nowrap items-center">Blogging ,
                                Category - Publish Date<i class='bx bxs-purchase-tag text-md text-red-600'></i></h1>
                            <h1 class="text-[21px] font-bold">Heading</h1>
                            <h1 class="text-[12.5px] font-semibold mt-2">Description
                            </h1>
                            <div class="row flex flex-nowrap items-center gap-3">
                                <a href="#"
                                    class="text-sm font-bold px-6 py-2 my-2 rounded-full  border-2 border-gray-500 cursor-pointer">
                                    Read Blog
                                </a>
                                <button
                                    class="h-[40px] w-[40px] bg-white  border-2 border-gray-500 rounded-full flex flex-nowrap items-center justify-center">
                                    <i class='bx bxs-heart text-xl text-pink-600'></i>
                                </button>
                                <button
                                    class="h-[40px] w-[40px] bg-white  border-2 border-gray-500 rounded-full flex flex-nowrap items-center justify-center">
                                    <i class='bx bxs-paper-plane text-xl text-blue-600'></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}